* {
	margin: 0; padding: 0;
}
.cabecalho {
	background: #0082c7;
}

body {
	background: #e8e8e8;
}

/* Cartão */
.cartao {
	box-sizing: border-box;
	background: #EBED40;
	margin: 16px;
	padding: 16px;
	text-align: left;
	/*Flex Properties*/
	flex-basis: 190px;
	flex-grow: 1;
}
@media (min-width: 560px) {
	.cartao {
		width: 190px;
		display: inline-block;
	}
}
/* ./Cartão */

.container {
	padding: 0 10%;
}

.mural {
	text-align: center; 
	display: flex;
	flex-wrap: wrap;
}

