* { margin: 0; padding: 0; }
.cabecalho {
	background: #0082c7;
	background: #e7f0f5;
}

body {
	background: #e8e8e8;
}

.cartao {
	background: #EBED40;
	margin: 16px;
	padding: 16px;
}

.container {
	padding: 0 10%;
}

